.m-logo {
  max-height: 60px;
  padding-top: 10px;
  padding-bottom: 8px;
}
.m-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.m-logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

